:root {
	--color-primary: #212121;
	--color-secondary: #181818;
	--color-border: #494949;
	--color-hover: var(--color-border);
	--color-grey-text: #b4b4b4;
	--border-radius: 15px;
	--transition-speed: 0.25s;
}

.App {
	display: flex;
	height: 100vh;
	background-color: var(--color-primary);
}

/* ---------------- Sidemenu ---------------- */
.sidemenu {
	width: 260px;
	background-color: var(--color-secondary);
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.sidemenu-container {
	position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
	display: flex;
	z-index: 2;
}

.close-button-container {
	background-color: transparent;
}

.show-sidemenu {
    transform: translateX(0);
}

.close-button {
	box-sizing: content-box;
	background-color: transparent;
	border: none;
	padding: 20px;
	cursor: pointer;
	width: 12px;
	margin: 5px;
}

.close-icon {
	width: 100%;
	height: 100%;
}

.sidemenu__button {
	border: 1px solid var(--color-border);
	padding: 12px;
	border-radius: var(--border-radius);
	transition: background-color var(--transition-speed);
	font-size: .875rem;
	display: flex;
	align-items: center;
	width: 100%;
	background-color: transparent;
	color: white;
}

.sidemenu__button:hover {
	background-color: var(--color-hover);
	cursor: pointer;
}

.sidemenu__button svg {
	margin-left: 5px;
	margin-right: 10px;
	width: 10px;
}

.unusable-button {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.history {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	overflow-y: auto;
	scrollbar-color: #3d3d3d transparent;
}

.history-text {
	color: var(--color-grey-text);
	font-size: 0.75rem;
	font-weight: 500;
	padding: 5px;
}

.history__item {
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 5px;
	transition: background-color var(--transition-speed);
}

.history__item:hover {
	background-color: var(--color-border);
	cursor: pointer;
}

.history__item span {
	color: #fff;
	font-size: .875rem;
}

.current-chat {
	background-color: #323232;
}

/* ---------------- Overlay ---------------- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* ---------------- Chatbox ---------------- */
.chatbox {
	background-color: var(--color-primary);
	flex: 1;
	display: flex;
	flex-direction: column;
}

.navbar {
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: start;
}

.navbar__button {
	border: none;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
}

hr {
	border: 0.5px solid #494949;
	width: 100%;
	margin: 0px;
}

.chatbox-main {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 768px;
	margin: 0 auto;
	overflow-y: auto;
}

.chat-log {
	padding: 10px;
	overflow-y: auto;
	scrollbar-color: #3d3d3d transparent;
	height: 100%;
}

.empty-chat-log {
	padding: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.empty-chat-log svg {
	padding: 6px;
	border-radius: 50%;
	border: 1px solid var(--color-border);
	width: 50px;
	height: 50px;
}

.empty-chat-log p {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 500;
}

.chat-log__message {
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.chat-log__message__avatar {
	width: 24px;
	display: flex;
}

.chat-log__message__avatar img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.chat-log__message__avatar span {
	color: #fff;
	font-size: 0.875rem;
	margin-left: 10px;
	font-size: 1rem;
	font-weight: 600;
}

.chat-log__message__content {
	display: inline-block;
	margin-left: 35px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-icon-div {
	display: flex;
	justify-content: center;

}

.loading-icon {
	animation: spin 1s linear infinite;
	margin-bottom: 20px;
}

.chatbox__input {
	width: 100%;
	height: 80px;
	padding: 10px;
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.chatbox__input textarea {
	padding: 18px;
	border-radius: var(--border-radius);
	flex: 1;
	background-color: #212121;
	border: 1px solid #494949;
	resize: none;
	color: #fff;
	font-family: Inter, sans-serif;
	font-size: 1rem;
	
	scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    overflow: -moz-scrollbars-none; /* Firefox */
    overflow: hidden scroll; /* IE/Edge, Chrome, Safari */
    scrollbar-color: #3d3d3d transparent; /* Firefox */
}

.chatbox__input textarea:focus {
	outline: none;
	border: 1px solid #616161;
}

.chatbox__input button {
	border-radius: var(--border-radius);
	background-color: transparent;
	border: 1px solid #494949;
	color: #fff;
	cursor: pointer;
	width: 60px;
	transition: background-color 0.25s;
}

.chatbox__input button:hover {
	background-color: #494949;
}