:root {
	--color-primary: #212121;
	--color-secondary: #181818;
	--color-border: #494949;
	--color-hover: var(--color-border);
	--border-radius: 15px;
	--transition-speed: 0.25s;
}

.App {
	display: flex;
	height: 100vh;
	background-color: var(--color-primary);
}

/* ---------------- Sidemenu ---------------- */
.sidemenu {
	width: 260px;
	background-color: var(--color-secondary);
	padding: 10px;
}

.sidemenu__button {
	border: 1px solid var(--color-border);
	padding: 12px;
	border-radius: var(--border-radius);
	transition: background-color var(--transition-speed);
	font-size: .875rem;
	display: flex;
	align-items: center;
	width: 100%;
	background-color: transparent;
	color: white;
}

.sidemenu__button:hover {
	background-color: var(--color-hover);
	cursor: pointer;
}

.sidemenu__button svg {
	margin-left: 5px;
	margin-right: 10px;
	width: 10px;
}

/* ---------------- Chatbox ---------------- */
.chatbox {
	background-color: var(--color-primary);
	flex: 1;
	max-width: 768px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.chat-log {
	padding: 10px;
	overflow-y: auto;
	scrollbar-color: #3d3d3d transparent;
	height: 100%;
}

.chat-log__message {
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.chat-log__message__avatar {
	width: 24px;
	display: flex;
}

.chat-log__message__avatar img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.chat-log__message__avatar span {
	color: #fff;
	font-size: 0.875rem;
	margin-left: 10px;
	font-size: 1rem;
	font-weight: 600;
}

.chat-log__message__content {
	display: inline-block;
	margin-left: 35px;
}

.chatbox__input {
	width: 100%;
	height: 80px;
	padding: 10px;
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.chatbox__input textarea {
	padding: 18px;
	border-radius: var(--border-radius);
	flex: 1;
	background-color: #212121;
	border: 1px solid #494949;
	resize: none;
	color: #fff;
	font-family: Inter;
	font-size: 1rem;
	
	scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    overflow: -moz-scrollbars-none; /* Firefox */
    overflow: hidden scroll; /* IE/Edge, Chrome, Safari */
    scrollbar-color: #3d3d3d transparent; /* Firefox */
}

.chatbox__input textarea:focus {
	outline: none;
	border: 1px solid #616161;
}

.chatbox__input button {
	border-radius: var(--border-radius);
	background-color: transparent;
	border: 1px solid #494949;
	color: #fff;
	cursor: pointer;
	width: 60px;
	transition: background-color 0.25s;
}

.chatbox__input button:hover {
	background-color: #494949;
}